---
import "../styles/style.css"
---

<footer>
	<div class="nav">
        <a href="#">HVEM ER VI?</a>
        <a href="#">WEBFEATURE</a>
        <a href="#">MØD KVINDERNE</a>
        <a href="#">REPAIR SERVICE</a>
        <a href="#">SAMARB.PARTNERE</a>
        <a href="#">ESG(DATA)</a>
	</div>

<div class="form">
	<h3>TILMELD NYHEDSBREV</h3>
    <div class="form2">
	<form name="contact">
	  <input type="email" id="email" name="email" class="mail" />
	  <input type="submit" value="Tilmeld" class="knapp">
	</form>
</div>
<div class="ikoner">
    <a href="#"><img src="public/img/fb.svg" alt="fb ikon"></a>
    <a href="#"><img src="public/img/ig.svg" alt="ig ikon"></a>
</div>
</footer>

	<style>
/*få form till vänster*/
footer{
    display: flex;
    justify-content: space-between;
}
/*form justify content*/
.form2{
    display: flex;
    justify-content: space-between;
}
.mail{
    border: none;
    border-bottom: 1px solid var(--background_col);
    background: none;
    color: var(--background_col);
    padding: 5px 0;
}
.form{
	width: 300px;
	height: 400px;
	background-color: var(--font_col);
	color: var(--background_col);
	text-align:  center;
    padding: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
}
h3{
text-align: center;
color: var(--background_col);
}
.knapp{
	color: var(--background_col);
	border: none;
    background: none; 
    padding-top: 8px; 
    margin-left: 20px;
}
/*styles för ikoner*/
.ikoner img{
    width: 60%;
}
.ikoner{
    padding: 30px;
    display: flex;
}
.nav{
    margin-top: 50px;
}
.nav a{
    display: block; 
    text-decoration: none; 
    color: var(--font_col); 
    font-size: 15px;
    margin-top: 10px;
    margin-left: 40px;
    font-family: "Kantumruy Pro", sans-serif;
    letter-spacing: -0.8px;
}
@media (max-width: 650px){
    footer{
        display: block;
       
    }
    .form{
        width: 100%;
    }
    h3{
text-align: center;
font-size: 30px;
}

.contact{
    padding-top: 20px;
}
}
	</style>