---

---

<footer>
    <div class="footer">
	<div class="nav">
        <a href="#">HVEM ER VI?</a>
        <a href="#">MØD KVINDERNE</a>
        <a href="#">REPAIR SERVICE</a>
        <a href="#">SAMARB.PARTNERE</a>
        <a href="#">ESG(DATA)</a>
	</div>

    <div class="findoss_container">
       
<div class="findos1">
    <h3>Her finder du os:</h3>
<p class="bold">Værkstedet i Lundtoftegade</p>
<p>Lundtoftegade 23, 1 sal</p>
<p>2200 København N</p>
</div>
<div class="findos2">
<p class="bold">Værkstedet i Farum Midtpunkt</p>
<p>Nygårdterasserne 213A</p>
<p>3520 Farum</p>
</div>
    </div>
</div>
<div class="form">
	<h3>TILMELD NYHEDSBREV</h3>
    <div class="form2">
	<form name="contact">
	  <input type="email" id="email" name="email" class="mail" />
	  <input type="submit" value="Tilmeld" class="knapp">
	</form>
</div>
<div class="ikoner">
    <a href="https://www.facebook.com/itraadmedverden" target="_blank"><img src="/img/fb.svg" alt="facebook ikon"></a>
    <a href="https://www.linkedin.com/company/i-tr%C3%A5d-med-verden/" target="_blank"><img src="/img/linkedin.svg" alt="linked in ikon"></a>
    <a href="https://www.instagram.com/itraadmedverden" target="_blank"><img src="/img/ig.svg" alt="instagram ikon"></a>
</div>
</footer>

	<style>
/*få form till vänster*/
footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--section_col);
}
/*form justify content*/
.form2{
    display: flex;
    justify-content: space-between;
}
.mail{
    border: none;
    border-bottom: 1px solid var(--background_col);
    background: none;
    color: var(--background_col);
    padding: 5px 0;
}
.form{
	width: 300px;
	height: 400px;
	background-color: var(--font_col);
	color: var(--background_col);
	text-align:  center;
    padding: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
}
h3{
text-align: center;
color: var(--background_col);
padding-bottom: 30px;
}
.findos1 h3{
    color: var(--font_col);
    font-size: 15px;
    text-align: left;
    padding-bottom: 5px;
}
.knapp{
	color: var(--background_col);
	border: none;
    background: none; 
    padding-top: 8px; 
    margin-left: 20px;
    cursor: pointer;
}
/*styles för ikoner*/

.ikoner img{
    width: 60%;
}
.ikoner{
    padding-top: 100px;
    padding-left: 50px;
    display: flex;
    flex-direction:row;
}
.nav{
    margin-top: 50px;
}
.nav a{
    display: block; 
    text-decoration: none; 
    color: var(--font_col); 
    font-size: 15px;
    margin-top: 10px;
    margin-left: 50px;
    font-family: "Kantumruy Pro", sans-serif;
    letter-spacing: -0.8px;
}
.knapp:hover{
    color: var(--font_col);
}
.nav a:hover{
    color: var(--hover_col);
}
.bold{
    font-weight: bold;
}
.footer{
        display: flex;
    justify-content: space-between;
    }
    .findoss_container{
        margin: 50px 0 0 150px;
    }
    .findos2{
        margin-top: 15px;
    }
@media (max-width: 800px){
    .findoss_container{
        margin: 50px 25px 0 25px;
    }
    .findos2{
        margin-top: 15px;
    }}
@media (max-width: 650px){
    .findoss_container{
        margin-top: 50px;
    }
    .findos2{
        margin-top: 15px;
    }
    footer{
        display: block;
       
    }
    .form{
        width: 100%;
        height: 250px;
        padding-top: 50px;
    }
    .mail{
        width: 400px;
    }
    .ikoner{
    padding-top: 20px;
    padding-left: 125px;}
   
    h3{
text-align: center;
font-size: 30px;
}
.nav{
    margin-bottom: 15px;
}
.contact{
    padding-top: 20px;
}
}
	</style>