---
import "../styles/style.css";
---

<article>
    <div class="nav_container">
        <a href="#">HVEM ER VI?</a>
        <a href="#">WEBFEATURE</a>
        <a href="#">MØD KVINDERNE</a>
        <a href="#">REPAIR SERVICE</a>
        <a href="#">SAMARB.PARTNERE</a>
        <a href="#">ESG(DATA)</a>
    </div>
</article>

<style>
    .nav_container {
    position: fixed; 
    top: -60px; 
    right: -60px;
    /* background-color: rgba(255, 255, 255, 0.7); */
    padding: 15px;
    padding-top: 70px;
    padding-right: 70px;
    border-radius: 60px;
}

.nav_container a {
    display: block; 
    text-decoration: none; 
    color: #00415D; 
    font-size: 20px;
    margin-top: 8px;
    margin-right: 5px;
    text-align: right;
    font-family: "Kantumruy Pro", sans-serif;
    letter-spacing: -0.8px;
}
    
</style>