---
import "../styles/style.css";
---

<!-- <article>
    <div class="nav_container">
        <a href="#hvem">HVEM ER VI?</a>
        <a href="#kvinder">MØD KVINDERNE</a>
        <a href="#">REPAIR SERVICE</a>
        <a href="#samarb">SAMARB.PARTNERE</a>
        <a href="#data_esg">ESG(DATA)</a>
    </div>
</article> -->
<!-- <article>
    <div class="nav_container" id="navContainer">
        <a href="#hvem">HVEM ER VI?</a>
        <a href="#kvinder">MØD KVINDERNE</a>
        <a href="#">REPAIR SERVICE</a>
        <a href="#samarb">SAMARB.PARTNERE</a>
        <a href="#data_esg">ESG(DATA)</a>
    </div>
</article> -->
<div class="dropdown">
    <button class="dropbtn">MENU</button>
    <div class="dropdown-content">
        <a href="#hvem">HVEM ER VI?</a>
        <a href="#kvinder">MØD KVINDERNE</a>
        <a href="#">REPAIR SERVICE</a>
        <a href="#samarb">SAMARB.PARTNERE</a>
        <a href="#data_esg">ESG(DATA)</a>
    </div>

<style>
    /* .nav_container {
    position: fixed; 
    top: -60px; 
    right: -60px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px;
    padding-top: 70px;
    padding-right: 70px;
    border-radius: 60px;
    z-index: 7;
}

.nav_container a {
    display: block; 
    text-decoration: none; 
    color: #00415D; 
    font-size: 15px;
    margin-top: 5px;
    margin-right: 5px;
    text-align: right;
    font-family: "Kantumruy Pro", sans-serif;
    letter-spacing: -0.8px;
}
.nav_container a:hover{
    color: var(--hover_col);
} 

@media (min-width: 650px) {
    .nav_container {
    position: fixed; 
    top: -60px; 
    right: -60px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px;
    padding-top: 70px;
    padding-right: 70px;
    border-radius: 60px;
    z-index: 7;
}
.nav_container a {
    display: block; 
    text-decoration: none; 
    color: #00415D; 
    font-size: 20px;
    margin-top: 8px;
    margin-right: 5px;
    text-align: right;
    font-family: "Kantumruy Pro", sans-serif;
    letter-spacing: -0.8px;
}
}
     */

     .dropbtn {
  background-color: rgba(255, 255, 255, 0.7);
  color: #00415D;
  border: none;
  font-size: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
  top: 0px;
  right: 0px;
  padding: 10px;
  border-radius: 10px;
}

.dropdown {
  place-content: end end;
  padding: 5px;
  position: fixed;
  display: inline-block;
  top: 20px;
  right: 20px;
  z-index: 7;
}

.dropdown-content {
  display: none;
  position: fixed;
  top: 80px;
  right: 45px;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 90%;
  border-radius: 10px;
}

.dropdown-content a {
  color: #00415D;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
}

.dropdown-content a:hover {
  background-color: var(--hover_col;)
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: var(--hover_col);
}
</style>

