---

---

<h1>MØD KVINDERNE</h1>
<div class="bgimg1">
    <div class="cap">
        <!-- <span>Helene</span> -->
    </div>
</div>
<div class="webf">
    <video controls>
        <source src="../../public/videos/helene.mp4" type="video/mp4">
    </video>
    <div class="text">
    <h2>Helene, Danmark</h2>
    <h3>Syerske</h3>
</div>
</div>  
<div class="bgimg2">
    <div class="cap">
        
    </div>
</div>
<div class="webf">
    <video controls>
        <source src="../../public/videos/naila.mp4" type="video/mp4">
    </video>
    <div class="text">
    <h2>Naila, Jordan</h2>
    <h3>Kaffe og komplimenter</h3>
    </div>
</div>
<div class="bgimg3">
    <div class="cap">
    </div>
</div>
<div class="webf">
    <video controls>
        <source src="../../public/videos/rhadija.mp4" type="video/mp4">
    </video>
    <div class="text">
        <h2>Khadija, Marokko</h2>
        <h3>Syerske</h3>
        </div>
    </div>

</div>

<style>
    
    .bgimg1{
        background-image: url(../../public/img/gruppbild.webp);
        min-height: 300px;
    }

    .bgimg2{
        background-image: url(../../public/img/pink.webp);
        min-height: 300px;
    }
    .bgimg3{
        background-image: url(../../public/img/flera.webp);
        min-height: 300px;
    }

    .bgimg1, .bgimg2, .bgimg3{
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    /* .cap span {
    background-color: #f1f1f1;
    color: #e64949;
    padding: 18px;
    font-size: 35px;
} */

.cap {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

video {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
        }

        h2{
            margin-top: 20px;
            margin-left: 20px;
        }

        .webf{
            scale: .8; opacity: 0;
            animation: fade-in linear forwards;
            animation-timeline: view();
            animation-range: 250px 500px;
            padding: 50px 80px;
            text-align: justify;
        }
        @keyframes fade-in {
            to{scale: 1; opacity: 1;}
        }
        
        @media (min-width: 650px) {
            .webf{
            display: grid;
        grid-template-columns: 1fr 1fr;
    }
    video {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    opacity: 80%;
        }
    .text{
        grid-template-columns: 2/3;
        text-align: center;
        margin-top: 80px;
        font-size: ;
    }
    .text h2{
        font-size: 70px;
    }
    .text h3{
        font-size: 30px;
    }
        }

</style>