---
import "../styles/style.css";
import MainLayout from "../layout/MainLayout.astro";
import Navigation from "../compponents/Navigation.astro";
import Header from "../compponents/Header.astro";
import Scroll from "../compponents/Scroll.astro";
import Karrusel from "../compponents/Karrusel.astro";
import Webfeature from "../compponents/Webfeature.astro"
---

<MainLayout>
  <Scroll />
    <Header />

    <Navigation />

<article class="omos" id="hvem">
<h1>HVEM ER VI?</h1>
<p>I Tråd Med Verden (ITMV) er en socialøkonomisk virksomhed drevet af foreningen I Tråd Med Verden. I partnerskab med KAB driver vi sy- og design værksteder i udsatte boligområder, hvor vi arbejder med design og genanvendelse af kasserede tekstiler som omdrejningspunkt for at skabe jobmuligheder, netværk og livskvalitet for mennesker, som har mistet fodfæste på arbejdsmarkedet. </p>
<p>Formålet er desuden at være en lokal ressource med henblik på at danne fællesskaber og genere viden omkring genanvendelse af tekstil. Vores arbejde er et lokalt og meget konkret bud på, hvordan man kan arbejde med bæredygtighed på tekstilområdet - en dagsorden, som presser sig voldsomt på, hvor det er nødvendigt at finde løsninger på de problemer tekstilindustrien skaber. </p>
<p>På værkstederne arbejder syerske i fleksjob eller småjob samt en gruppe borgere i virksomhedspraktik. Som medarbejder og praktikant indgår man i produktionen og i arbejdsfællesskabet sammen med værkstedernes faste team af designere og socialt fagligt personale.</p>
<p>Vi tager altid udgangspunkt i den enkeltes ressourcer og har fokus på at arbejdet skal give succesoplevelser, motivation, glæde og en tro på fremtiden. </p>

</article>

<div class="paralax_test"></div>

<section id="kvinder">
  <br>
<Webfeature />
</section>

<section id="samarb">
  <br>
  <!-- <Karrusel header="Samarbejdspartnere"> -->
    <Karrusel>
  <div class="karrusel">
  <img src="/img/underprotection.png" alt="underprotection">
  <img src="/img/stilling.png" alt="stilling">
  <img src="/img/nationalmuseet.png" alt="nationalmuseet">
  <img src="/img/glyptoteket.png" alt="glyptoteket">
  <img src="/img/siff.png" alt="siff">
  <img src="/img/brandts_kunst.png" alt="brandts kunst">
  <img src="/img/akb.png" alt="akb">
  <img src="/img/copenhagen_foto_festival.png" alt="copenhagen foto festival">
  <img src="/img/fureso.png" alt="Furesø kommune">
  <img src="/img/kab.png" alt="kab">
  <img src="/img/kbh_kommune.png" alt="kbh kommune">
  <img src="/img/nicholasn.png" alt="Nocholas Nybro">
  <img src="/img/wallnut.png" alt="wallnut">
  <img src="/img/ganni.png" alt="ganni">
  <img src="/img/frak.png" alt="frak">
  <img src="/img/menu.png" alt="menu">
  <img src="/img/norrebro.png" alt="Nørrebro">
  <img src="/img/ikea.png" alt="ikea">
  <img src="/img/laika.png" alt="laika">
  <img src="/img/mads_norgaard.png" alt="mads nørgaard">
  <img src="/img/ordrupgaard.png" alt="ordrupgaard">
  <img src="/img/public_funk.png" alt="public funk">
  </div></Karrusel>
  </section>
  <section class="partner">
    <h2>ØNSKER I AT VÆRE PARTNER?</h2>
    <p>Udfyld kontaktformularen og vi kontakter dig</p>
  
  <article class="bli_partner">
    <form name="contact">
      <label for="fname">Fornavn:</label><br>
      <input type="text" id="fname" name="fname"><br><br>
      <label for="lname">Efternavn</label><br>
      <input type="text" id="lname" name="lname"><br><br>
      <label for="email">E-mail</label><br>
      <input type="email" id="email" name="email" /><br><br>
      <label for="comment">Besked</label><br>
      <textarea name="comment" form="usrform"></textarea><br><br>
      <input class="knapp" type="submit" value="Submit">
    </form>
  </article>
  </section>

<section id="data_esg">
  <br>
  <br>
  <h1>DATA</h1>
  <article class="data">
  <div class="diagram1"><img src="/img/lagekagediagram.png" alt="lagekage diagram">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam perspiciatis ipsum neque harum. Nobis quod praesentium accusamus harum vero dolores iusto sapiente odit fuga? Ducimus laboriosam accusamus autem voluptas qui.</p></div>
  <div class="diagram2"><img src="/img/lagekagediagram.png" alt="andet diagram">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus illum asperiores molestiae quidem aut impedit a quos ea. Porro saepe magnam velit repellendus ea doloremque unde adipisci amet eius dolorem.</p></div>
  </article>
</section>
<section id="repair">
  <br>
  <br>
<h1>REPAIR SERVICE</h1>
<section class="repair">
<div class="img">
<img src="/img/repairservice.webp" alt="repair service img"></div>
<div class="service">
<h2>VIDSTE DU AT, I TRÅD MED VERDEN TILBYDER REPAIR SERVICE PÅ DIN ARBEJDSPLADS?</h2>
<h3>HVORFOR?</h3>
<ol>
  <li>Gør genanvendelse let og tilgængeligt for dine medarbejdere.</li>
  <li>Styrk din virksomheds E (environmental) & S (social) i jeres ESG mål. </li>
  <li>Støt ITMVs arbejde med at skabe flere lønnede timer til vores syersker. </li>
</ol>
<h3>HVAD</h3>
<p>Vi tilbyder reparation, tilpasning og fornyelse af tøj til din virksomheds medarbejdere. Vores team består af to syerske og en designer. De vil sidde klar ved symaskinerne, til at hjælpe jer med at forlænge levetiden på tøjet. Vi tilbyder bl.a. oplægning, reparation af lynlås og huller samt broderi m.m. </p>
<h3>HVOR?</h3>
<p>Vi kommer ud til din virksomhed med vores REPAIR SERVICE (Københavnsområdet, tilgængeligt med offentlig transport) </p>
<h3>HVORNÅR</h3>
<p>Sammen aftaler vi en fast dag, f.eks. hver anden uge, en gang om måneden. Der vil være drop in og aflevering af tøjet om morgenen. Vi bestræber os på at blive færdige med dagens reparationer samme dag. Men det kan variere, afhængig af opgaven. </p>
</div>
<br>
<br>
<br>
<br>
<br>
</section>



</section>
</MainLayout>


<style>
  /*repari service */

  @media (min-width: 1000px){
  .repair{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}
.img{
  padding-top: 40px;
}
.service{
  padding-bottom: 40px;
}
  ol{
    color: var(--font_col);
    padding: 10px 40px 0 40px;
  }
  .repair h3{
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
  }
  .repair h2{
    padding: 30px 0 0 0;
  }
  .repair p{
    padding: 5px 30px 5px 30px;
  }
  /*samarbdspartner styles*/
  .partner p{
    text-align: center;
    padding: 20px
  }
.bli_partner{
padding: 15px 0px 50px 400px
}
label, .knapp{
  color: var(--font_col);
}
input, textarea {
  background-color: var(--section_col);
  padding: 12px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: var(--section_col);
  width: 60%;
}
  textarea {
  height: 120px;
  }

  /*data styles */
.data{
  display: grid;
  grid-template-columns: 1fr 1fr;
margin-bottom: 45px; 
}
.data img{
  width: 80%;
  margin-bottom: 15px;
}
.diagram1{
  margin-left: 40px;
}
.diagram2{
  margin: 0 10px 0 30px;
}
.data p{
  padding-left: 15px;
  padding-right: 50px;
}
  .omos{
 padding: 100px 300px 100px 300px;
 background-color: var(--section_col);
align-items: center;
  }
  .omos p{
    padding-top: 10px;
  }


  .paralax_test{
    background-image: url(/img/bags.webp);
    min-height: 300px;
   width: 60%;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  }
  
    .karrusel img{
        width: 10%;
        /*lineup är en rad*/
        margin-right: 15px;
    }
    .karrusel {
    display: flex;
    /*1 rad:*/
    flex-wrap: nowrap;
    /*speed och varaktighet*/
    animation: moveLinear 60s linear infinite;
    overflow-x: hidden;
}
  @keyframes moveLinear {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }

  #samarb{
    margin-top: 40px;
  }
  @media (max-width: 1020px){
    .bli_partner{
      padding: 20px 50px 50px 150px;
    }
    .omos{
      padding: 20px 70px 70px 70px;
    }
    input, textarea{
      width: 90%;
    }
  }
  @media (max-width: 450px)
  {
    .bli_partner{
      padding: 5px 0 5px 60px;
    }
    input, textarea{
      width: 60%;
    }
    .omos{
      padding: 20px;
    }
  }


</style>
