---
import "../styles/style.css";
import MainLayout from "../layout/MainLayout.astro";
import Navigation from "../compponents/Navigation.astro";
import Header from "../compponents/Header.astro";
import Scroll from "../compponents/Scroll.astro";
---

<MainLayout>
  <Scroll />
    <Header />

    <Navigation />

<article class="omos">
<h2>HVEM ER VI?</h2>
<p>I Tråd Med Verden (ITMV) er en socialøkonomisk virksomhed drevet af foreningen I Tråd Med Verden. I partnerskab med KAB driver vi sy- og design værksteder i udsatte boligområder, hvor vi arbejder med design og genanvendelse af kasserede tekstiler som omdrejningspunkt for at skabe jobmuligheder, netværk og livskvalitet for mennesker, som har mistet fodfæste på arbejdsmarkedet. </p>

</article>

<!-- <img class="bags" src="public/img/bags.webp" alt="billede af tæsker"> -->
<div class="paralax_test"></div>


<div class="karrusel">
<img src="public/img/underprotection.png" alt="underprotection">
<img src="public/img/stilling.png" alt="stilling">
<img src="public/img/nationalmuseet.png" alt="nationalmuseet">
<img src="public/img/glyptoteket.png" alt="glyptoteket">
<img src="public/img/siff.png" alt="siff">
<img src="public/img/brandts_kunst.png" alt="brandts kunst">
<img src="public/img/akb.png" alt="akb">
<img src="public/img/copenhagen_foto_festival.png" alt="copenhagen foto festival">
<img src="public/img/fureso.png" alt="Furesø kommune">
<img src="public/img/kab.png" alt="kab">
<img src="public/img/kbh_kommune.png" alt="kbh kommune">
<img src="public/img/nicholasn.png" alt="Nocholas Nybro">
<img src="public/img/wallnut.png" alt="wallnut">
<img src="public/img/ganni.png" alt="ganni">
<img src="public/img/frak.png" alt="frak">
<img src="public/img/menu.png" alt="menu">
<img src="public/img/norrebro.png" alt="Nørrebro">
<img src="public/img/ikea.png" alt="ikea">
<img src="public/img/laika.png" alt="laika">
<img src="public/img/mads_norgaard.png" alt="mads nørgaard">
<img src="public/img/ordrupgaard.png" alt="ordrupgaard">
<img src="public/img/public_funk.png" alt="public funk">
</div>
</MainLayout>

<style>
  .omos{
 padding: 20px 100px 20px 100px;
 background-color: #F0EEEB;
  }
  .omos h3{
    padding-bottom: 5px;
  }
  .bags{
    width: 40%;
  }
  .paralax_test{
    background-image: url(../../public/img/bags.webp);
    min-height: 500px;
   width: 60%;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  }
    .karrusel img{
        width: 10%;
        /*lineup är en rad*/
        margin-right: 15px;
    }
    .karrusel {
    display: flex;
    /*1 rad:*/
    flex-wrap: nowrap;
    /*speed och varaktighet*/
    animation: moveLinear 60s linear infinite;
    overflow-x: hidden;
}
  @keyframes moveLinear {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }

</style>
